.social-icons {
display: flex;
justify-content: center;
}
.social-icons i{
    padding: 3rem;
    color:#d36821;
}
#contact-text{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    font-family: 'Yvanone Kaffeesatz', sans-serif;
}
p a {
    text-decoration: none;
    font-weight: bold;
}
