

.header-wrapper{
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#1a1d24;
    width:100vw;

}
.header-title{
    text-transform: capitalize;
    font-size: 3rem;
    font-family: 'Righteous',cursive;

    color:#d36821;
    
}

.header-subtitle{
 font-size:2rem;
 color:whitesmoke;
}
.containers{
    margin-left: 5rem;
}

button{
    margin-left: 5rem;
    width:15rem;
    color:#d36821;
    background: #333745;
    padding:1.2rem;
    border: solid #d36821;
    border-radius: 1.2rem;
}
@media (min-width : 45rem){
    .header_left{
        background:#1a1d24;
        color: white
    }
        .header-wrapper{
            background-image: url('../images/header.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
}
